---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniero de Datos y Sistemas"
      subtitle="2021 a 2024 en Universidad Politécnica, Madrid, España"
    />
    <TimeLineElement
      title="Darrollo de Aplicaciones Web"
      subtitle="2019 a 2021 en IFP, Madrid, España"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="VT-LAB"
      subtitle="2021-03 a 2021-09, Madrid, España"
    >
      CV
    </TimeLineElement>
    <TimeLineElement
      title="Freelance"
      subtitle="2022 a 2023"
    >
      En este trabajo realizé varias webs para un cliente. Entre las más complejas eran una página de películas online y una página de administración. En todas ellas tuve que realizar API o gestinar las conexiones con las base de datos.
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Idiomas</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Ingés (B2)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Alemán (B1)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>JavaScript</li>
    <li>JAVA</li>
    <li>SQL</li>
  


  </ul>
</BaseLayout>
