---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola Buenas 👋</div>
    <div class="text-5xl font-bold">Soy Brayan Guarachi Apaza</div>
    <div class="text-3xl py-3 font-bold">Ingeniero de Datos y Sistemas.</div>
    <div class="py-2">
      <text class="text-lg">
        En este es mi sitio web quiero dar a conocer mis proyectos y mi experiencia laboral como ingeniero. Porque soy muy apasionado de la tecnología.
      </text>
    </div>
    <div class="mt-8">
      <a href="https://github.com/brayan979" target="_blank" class="btn btn-outline ml-5">
        Mis Proyectos
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis últimos proyectos {"</>"}</div>
  </div>

  <HorizontalCard
    title="Sistema Web para la gestión de niño con TDL"
    img="/logo.png"
    desc="En este proyecto lo que se prentende es conseguir desarrollar un plataforma web que ayude a los educadores a evaluar trastornos de déficit de lenguaje en niños menores de 3 años."
    url="https://brayan979.github.io/gades-web/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="OptiBIM-MMM"
    img="https://skingenieros.es/wp-content/uploads/2022/02/Building-Information-Modelling-BIM.png"
    desc="La unión entre modelos 3D realistas + IoT + Alogritmos de detección de anomlías. Aplicado a la agricultura de precisión y al mantenimiento predictivo de infraestructuras. HAZ CLICK en esta Card y verás el video de la DEMO."
    url="https://upm365-my.sharepoint.com/:v:/g/personal/b_guarachi_alumnos_upm_es/EXMJXjV9bzlFpp2x43y3G-wBWsW_nTnq38iENZWfUjBo_A?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=Tg6qvq"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Análisis de precio de la vivienda en relación al crimen en Madrid"
    img="https://d3uir0eo9qeeuq.cloudfront.net/blog/wp-content/uploads/2022/06/01185333/coins-on-table-red-up-arrow-and-house-the-concept-of-the-rising-price-of-real-estate-1024x684.jpg"
    desc="La principal dificultad en este proyecto fue la extracción del precio de las viviendas. Para ello usé web scraping de varias páginas de venta de casa como Idealista y Fotocasa. HAZ CLICK para ver la memorias y conclusiones."
    url="https://upm365-my.sharepoint.com/:b:/g/personal/b_guarachi_alumnos_upm_es/EZyflpIzj5ZNhvy7xZGoQ4EBP-QwgVrwyBb88PMfxGaYGA?e=0HFJie"
  />
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sobre mí</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Desde pequeño aprendía ser una persona independiente ya que crecí muchos años sin que mis padres estuvieran presentes. Esa independencia que adquirí con el tiempo me sirvió para ser una persona autodidacta y proactiva.</p>
    <br>
    <p>Con 15 años de manera autodidacta ya empecé a crear webs simples con herramientas como WordPress y con eso conseguí ganar dinero, en ese momento de locura me planté dejar los estudios porque hacer web me consumía mucho tiempo y en ese momento los estudios no me importaban, pero al final con un poco más de esfuerzo puede hacer ambas cosas.  </p>
    <br>
    <p>
      Cuando terminé bachillerato no sabía que camino seguir porque todos mis amigos iban a estudiar una carrera y en ese momento, aunque no quería separarme de mis amigos opté por realizar un Grado Superior de Desarrollo de Aplicaciones Web ya que dada mi experiencia previa en ese campo estaba seguro de que iba encontrar trabajo y así fue.
    </p>
    <br>
    <p>
      Al terminar el Grado Superior estuve trabajando en una empresa dónde me vino uno de esos momentos de inspiración dónde sentí que me faltaba mucha tecnología por descubrir y mi hermano también me motivo a estudiar una ingeniería para conocer más del mundo tecnológico, estaba en su último año de ingeniería electrónica. Por todo ello decidí aventurarme a hacer esta carrera que estoy intentando terminar en 3 años cosa que no está siendo fácil ya que dedico gran parte del tiempo a la Universidad.
    </p>
  </div>
</BaseLayout>
