---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Video CV</div>
  </div>
  <div class="flex justify-center">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
        <a href="#!">
            <video width="500" height="300" controls class="w-full rounded-t-lg">
                <source src="/videoCV.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </a>
        <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Video CV</h5>
            <p class="text-gray-700 text-base mb-4">
              En el video explico mi experiencia laboral, mis estudio y algunos de mis proyectos.
            </p>

        </div>
    </div>
</div>
  

</BaseLayout>
