---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Blog</div>
  </div>
  <div class="mb-5">

    <div class="text-3xl w-full">Recursos web que consulto para mantenerme informado</div>
  </div>
  <HorizontalCard
    title="Midudev"
    img="https://yt3.googleusercontent.com/ytc/AIf8zZQZfiNhn4NPzAy6LnnTA6uMyyIK48_iqcGwYUMd=s176-c-k-c0x00ffffff-no-rj"
    desc="Es un canal de referencia que suelo seguir para matenerme informado sobre temas de web, porqué es un mundo tan dinámico y que cambia cada pocos meses. Un claro ejemplo es esta web hecha con ASTRO y que a día de hoy estoy aprendiendo."
    badge="NEW"
    url="https://www.youtube.com/@midulive"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dot CSV"
    img="https://yt3.googleusercontent.com/YvOquorNYMYPk4N1xIt9cwFj6JHypD-WSXriHnyqlK0wB48ZohYSraWMUhK2T5v6OkHJafB91A=s176-c-k-c0x00ffffff-no-rj"
    desc="Es un canal de YouTube que informa de temas como el aprendiza autónomo e informa de todas las novedades. Gracias a estre canal me decidí a realizar el grado de Ingenieria de Datos y Sistemas."
    url="https://www.youtube.com/@DotCSV"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nate Gentile"
    img="https://yt3.googleusercontent.com/KEex1oxGs68FOHEg_Lbnwgp00LrL8cHhzzzfXRKKSUEMBBnO2tKifIl1raL2QYkvhwDojKBl=s176-c-k-c0x00ffffff-no-rj"
    desc="Este canal de YouTube sobre todo informa accerca de temas de Harware, que a día de hoy me han servido para montarme mí propio ordenador y con los cuáles he aprendido a tener criterio a la hora de comprar ciertos componentes. También informa a cerca de temas de Software que suelen ser intersantes."
    url="https://www.youtube.com/@NateGentile7"
    badge="NEW"
  />

</BaseLayout>
